* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Latin", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: url(./image-video/home_slider.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 25px;
  transition: 0.5s;
}
header a:hover {
  color: #e54761;
}
.header_banner i {
  margin-top: 30px;
  font-size: 30px;
  animation: animate1;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes animate1 {
  form {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}
.header_top .container {
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top h2 {
  font-size: 35px;
  text-align: center;
}
.header_hr hr {
  height: 1px;
  opacity: 0.5;
}
.header_banner {
  text-align: center;
  height: 500px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header_banner p {
  font-size: 20px;
  margin-bottom: 20px;
}
.header_banner h2 {
  font-size: 70px;
}
.header_banner button {
  margin-top: 20px;
  font-weight: 200;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  background-color: #e54761;
  border: none;
  transition: 1.5s;
}
.header_banner button:hover {
  cursor: pointer;
  color: white;
  background-color: #af2239;
}
/* start carousel  */
.carousel {
  padding: 80px 0;
  background-color: black;
}
.carousel p {
  color: black;
  margin-top: 10px;
}
.carousel_list {
  padding: 10px;
}
.carousel_list .item_list {
  padding: 10px;
}
.carousel_list .item_list .item__content {
  text-align: center;
  height: 220px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-dots li button:before {
  font-size: 14px;
  color: white;
  opacity: 0.8;
}
.slick-dots li.slick-active button:before {
  color: #e54761;
}
.carousel_title {
  color: white;
  text-align: center;
}
.carousel_title h4 {
  color: #af2239;
  font-size: 12px;
  margin-bottom: 15px;
}
.carousel_title h1 {
  font-size: 40px;
  line-height: 70px;
}
.carousel_title h3 {
  font-size: 18px;
  color: #888888;
}
.item__content {
  position: relative;
}
.item__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 0;
  background-color: #e54761;
  transition: 0.5s;
}

.item_list:hover .item__content::after {
  height: 100%;
}

/* start blog */
.blog {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
}
.blog_title {
  text-align: center;
  margin-bottom: 80px;
}
.blog_title h4 {
  color: grey;
  margin-bottom: 10px;
}
.blog_title h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.blog_title h3 {
  color: #888888;
  font-size: 600;
}
.blog_list {
  overflow: hidden;
  height: 1300px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  aspect-ratio: 1/1;
}
.blog_list img {
  filter: drop-shadow(8px 8px 10px gray);
}
.blog_list .blog_bg {
  height: 100%;
  position: relative;
}
.blog_list .blog_bg .blog_item .item_icon {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}
.blog_list .blog_bg .blog_item .item_text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}
.blog_list .blog_bg.item-1 {
  grid-row: 1/3;
  grid-column: 1/3;
}
.blog_list .blog_bg.item-8 {
  grid-row: 3/5;
  grid-column: 3/5;
}
.blog_bg .blog_item {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}
.blog_bg:hover .blog_item {
  background-color: #e54761;
  opacity: 0.7;
}
.blog_item .item_text p {
  font-weight: 800;
  color: white;
}
.overlay_hover {
  transform: translateY(25px);
  opacity: 0;
  transition: 0.8s;
}
.blog_bg:hover .overlay_hover {
  transform: translateY(0px);
  opacity: 1;
}
.blog_item .item_icon {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_item .item_icon:hover {
  background-color: black;
  color: white;
}
.number_count {
  padding: 80px 0;
  background-color: black;
  text-align: center;
}
.number_count h1 {
  padding-bottom: 10px;
}
.number_count h1,
p {
  color: white;
}
.number_count .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* vid  */
.intro_vid {
  text-align: center;
  padding: 110px 0;
  background-image: url(./image-video/bussiness_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.vid_title h4{
  color: #D92639;
  margin-bottom: 10px;
}
.vid_title h1{
  color: white;
  margin-bottom: 30px;
  font-size: 45px;
}
.vid_title p{
  color: #888888;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 40px;
}
/* map  */
.contact_map{
  width: 100%;
  padding: 120px 0;
  text-align: center;
}
.contact_map h1{
  font-size: 45px;
}
.contact_map p{
  color: #888888;
  margin: 40px 0;
}
.contact_map_content{
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.contact_map_content .link_map{
  width: 62%;

}
.contact_map_content .link_form{
  flex-grow: 1;
  padding-left: 10px;
}
.link_form form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link_form form *{
  padding: 20px;
}
.link_form button{
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  transition: 0.5s;
}
.link_form button:hover{
  background-color: #E62B4A;
  cursor: pointer;
}
footer{
  padding: 100px 60px;
  background-color: #000;
}
footer p{
  font-size: 12px;
}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .link_info{
  display: flex;
  align-items: center;
}
footer .info_icon{
  width: 57px;
  height: 57px;
  margin-left: 10px;
  background-color: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
footer .info_icon a{
  color: white;
  font-size: 21px;
}
footer .info_icon:hover{
  background-color: #e54761;
}